.image-1-icon {
  position: relative;
  width: 200px;
  height: 106px;
  object-fit: cover;
}
.frame-child {
  position: absolute;
  top: 0;
  left: calc(50% - 220px);
  border-radius: var(--br-7xs);
  background-color: var(--color-darkslateblue);
  width: 440px;
  height: 300px;
}
.frame-inner,
.frame-item {
  border: 0;
  background-color: var(--white);
  position: relative;
  width: 250px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  padding-left: var(--padding-3xs);
  color: #000;
}
.frame-item {
  font-family: var(--regular-paragraph-small);
  font-size: var(--font-size-smi);
  border-radius: var(--br-9xs);
}
.frame-inner {
  border-radius: 2px;
}
.i-agree-to1 {
  color: var(--white);
}
.span {
  color: var(--color-black);
}
.terms-of-system1 {
  text-decoration: underline;
  color: #ff4438;
}
.i-agree-to-container {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: calc(50% - 89.5px);
  font-size: var(--font-size-smi);
  line-height: 38px;
  font-weight: 700;
  font-family: var(--regular-paragraph-small);
  text-align: left;
  display: inline-block;
}
.check-box-icon1 {
  position: absolute;
  top: 7px;
  left: calc(50% - 117.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.i-agree-to-the-terms-of-system-parent {
  position: relative;
  width: 235px;
  height: 38px;
}
.chevron-left-icon4 {
  position: relative;
  width: 19px;
  height: 19px;
  display: none;
}
.button4 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  font-weight: 600;
  font-family: var(--regular-paragraph-small);
  color: var(--white);
  text-align: left;
}
.primary-button2 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xs);
  background-color: var(--color-royalblue);
  position: absolute;
  top: 0;
  left: calc(50% - 73.5px);
  border-radius: var(--br-9xs);
  width: 147px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.primary-button-wrapper {
  position: relative;
  width: 147px;
  height: 37px;
}
.you-must-agree {
  position: absolute;
  top: 0;
  left: calc(50% - 166px);
}
.you-must-agree-to-the-terms-of-wrapper {
  position: relative;
  width: 332px;
  height: 14px;
}
.frame-container {
  position: absolute;
  top: 50px;
  left: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rectangle-group {
  position: relative;
  width: 440px;
  height: 300px;
}
.image-1-parent {
  position: absolute;
  top: 100px;
  left: calc(50% - 220px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 70px;
}
.login {
  position: relative;
  background-color: var(--white);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  text-align: center;
  font-size: var(--semi-bold-paragraph-xsmall-size);
  color: var(--white);
  font-family: var(--regular-paragraph-small);
}
@media screen and (max-width: 1200px) {
  .login {
    min-width: 480px;
  }
}
.group-child {
  position: absolute;
  top: calc(50% - 199px);
  left: calc(50% - 292px);
  border-radius: var(--br-7xs);
  background-color: var(--white);
  width: 584px;
  height: 398px;
}
.browsing-is-strictly {
  margin: 0;
}
.browsing-is-strictly-container {
  position: absolute;
  top: 85px;
  left: 108px;
  font-family: var(--font-source-sans-pro);
  display: inline-block;
  width: 385px;
}
.check-box-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.i-agree-to {
  position: relative;
  line-height: 38px;
}
.check-box-parent {
  position: absolute;
  top: 265px;
  left: calc(50% - 198px);
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.close,
.vector-icon1 {
  position: absolute;
  overflow: hidden;
}
.vector-icon1 {
  height: 58.33%;
  width: 58.33%;
  top: 20.83%;
  right: 20.83%;
  bottom: 20.83%;
  left: 20.83%;
  max-width: 100%;
  max-height: 100%;
}
.close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 20px;
  left: 540px;
  width: 24px;
  height: 24px;
}
.terms-of-system {
  position: absolute;
  top: 35px;
  left: 108px;
  line-height: 38px;
}
.chevron-left-icon3 {
  position: relative;
  width: 19px;
  height: 19px;
  display: none;
}
.button3 {
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.04em;
  font-weight: 600;
  font-family: var(--regular-paragraph-small);
  color: var(--white);
  text-align: left;
}
.primary-button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-xs);
  background-color: var(--color-royalblue);
  position: absolute;
  top: 334px;
  left: 257px;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.rectangle-parent {
  position: absolute;
  top: calc(50% - 199px);
  left: calc(50% - 292px);
  width: 584px;
  height: 398px;
  min-width: 584px;
}
.terms-of-system-use {
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-black);
  font-family: var(--regular-paragraph-small);
}
